/*
descendant selector (space)
child selector (>)
adjacent sibling selector (+)
general sibling selector (~)
*/
body {
  text-align: center;
}

#grand-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 30px;
}

#game-wrapper {
  width: 390px;
}

#menu-wrapper {
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playerLabel {
  font: bold 30px Orbitron;
}

canvas{
  display: block;
  margin: 0px auto;
  background: black;
}

#sliderContainer {
  height: 80px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#playerSlider {
  flex-grow: 1;
  margin-left: 45px;
  margin-right: 45px;
}